<!DOCTYPE html>
<html ng-app="app">
<head lang="en">
    <meta charset="UTF-8">

    <title>TEST</title>
    <link href="css/common.css" rel="stylesheet" />

    <script src="js/jquery.min.js"></script>
    <script src="js/angular.js"></script>
    <script src="js/angular-route.js"></script>
    <script src="js/angular-ui-router.js"></script>
    <script src="scripts/app.js"></script>
    <script src="scripts/test/test_controllers.js"></script>
    <script src="scripts/test/test_services.js"></script>
    <script src="scripts/test/test_directives.js"></script>

</head>
<body ng-controller="TestCtrl">
<div my-dir>directive</div>
    {{test}}
<div class="" ng-bind="test" ng-click="test = 'test';"></div>
    <input type="text" ng-model="test">
<div class="" ng-repeat="elem in arr" ng-click="clickThis(1)" ng-if="$index % 2 === 0">
    {{elem}}
</div>
</body>
</html>